.container {
	margin-top: 50px!important;
	margin-bottom: 50px!important;
}

.hero-body > .container {
	margin-top: 0!important;
	margin-bottom: 0!important;
} 

td, th {
	padding: 25px!important;
}

.caract {
	font-size: 150px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}